<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Univhub">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

    <title>Chat</title>

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- Propeller css -->
    <link rel="stylesheet" type="text/css" href="assets/css/propeller.css">

    <!-- Univhub Theme -->
    <link rel="stylesheet" type="text/css" href="assets/css/chat.css">

</head>

<body>
<div class="pmd-sidebar-overlay"></div>
<a href="javascript:void(0);"
   class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary pull-left margin-r8 pmd-sidebar-toggle"
   style="display: inherit;margin-top:8px;margin-left:4px;position:fixed;"><i class="material-icons">menu</i></a>
<div class="container-fluid">
    <div class="row">
        <aside class="chat-sidebar pmd-sidebar pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open pmd-z-depth-1"
               role="navigation">
            <div class="messages-search">
                <i class="material-icons md-light search-icon">search</i>
                <div class="form-group">
                    <input id="search" class="form-control" type="text" placeholder="Search...">
                </div>
            </div>
            <div class="recent-chats">Recent Chats</div>
            <div class="chat-persons">
                <a href="javascript:;">
                    <div class="chat-person pmd-card">
                        <div class="pmd-card-title">
                            <div class="media-left">
                                <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40"
                                     height="40">
                            </div>
                            <div class="media-body media-middle">
                                <span class="pmd-card-subtitle-text chat-name">Luke Satary</span>
                            </div>
                            <div class="media-body media-right text-right">
                                <span class="chat-status"></span>
                                <span class="pmd-card-subtitle-text chat-time chat-time">4 min ago</span>
                            </div>
                        </div>
                        <div class="pmd-card-body">
                            <p class="chat-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry printing and typesetting industry printing and typesetting industry printing
                                and typesetting.</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="online active">
                    <div class="chat-person pmd-card">
                        <div class="pmd-card-title">
                            <div class="media-left">
                                <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40"
                                     height="40">
                            </div>
                            <div class="media-body media-middle">
                                <span class="pmd-card-subtitle-text chat-name">Luke Satary</span>
                            </div>
                            <div class="media-body media-right text-right">
                                <span class="chat-status"></span>
                                <span class="pmd-card-subtitle-text chat-time chat-time">4 min ago</span>
                            </div>
                        </div>
                        <div class="pmd-card-body">
                            <p class="chat-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry printing and typesetting industry printing and typesetting industry printing
                                and typesetting.</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="online">
                    <div class="chat-person pmd-card">
                        <div class="pmd-card-title">
                            <div class="media-left">
                                <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40"
                                     height="40">
                            </div>
                            <div class="media-body media-middle">
                                <span class="pmd-card-subtitle-text chat-name">Luke Satary</span>
                            </div>
                            <div class="media-body media-right text-right">
                                <span class="chat-status"></span>
                                <span class="pmd-card-subtitle-text chat-time chat-time">4 min ago</span>
                            </div>
                        </div>
                        <div class="pmd-card-body">
                            <p class="chat-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry printing and typesetting industry printing and typesetting industry printing
                                and typesetting.</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;">
                    <div class="chat-person pmd-card">
                        <div class="pmd-card-title">
                            <div class="media-left">
                                <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40"
                                     height="40">
                            </div>
                            <div class="media-body media-middle">
                                <span class="pmd-card-subtitle-text chat-name">Luke Satary</span>
                            </div>
                            <div class="media-body media-right text-right">
                                <span class="chat-status"></span>
                                <span class="pmd-card-subtitle-text chat-time chat-time">4 min ago</span>
                            </div>
                        </div>
                        <div class="pmd-card-body">
                            <p class="chat-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry printing and typesetting industry printing and typesetting industry printing
                                and typesetting.</p>
                        </div>
                    </div>
                </a>

            </div>
        </aside>
        <section class="main-chat">
            <div class="main-chat-desc-title pmd-z-depth">
                <span>Coversation with <b>Piter Swift</b></span>
            </div>
            <div class="chat-body">
                <div class="row">
                    <svg class="message-typing" width="100px" height="50px" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"
                         preserveAspectRatio="xMidYMid">
                        <circle cx="0" cy="0" r="7" fill="#999">
                            <animate attributeName="cy" calcMode="spline"
                                     keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite"
                                     values="62.5;37.5;62.5;62.5" keyTimes="0;0.25;0.5;1" dur="0.8s"
                                     begin="-0.5s"></animate>
                        </circle>
                        <circle cx="20" cy="37.6376" r="7" fill="#aaa">
                            <animate attributeName="cy" calcMode="spline"
                                     keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite"
                                     values="62.5;37.5;62.5;62.5" keyTimes="0;0.25;0.5;1" dur="0.8s"
                                     begin="-0.375s"></animate>
                        </circle>
                        <circle cx="40" cy="43.1588" r="7" fill="#bbb">
                            <animate attributeName="cy" calcMode="spline"
                                     keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite"
                                     values="62.5;37.5;62.5;62.5" keyTimes="0;0.25;0.5;1" dur="0.8s"
                                     begin="-0.25s"></animate>
                        </circle>
                    </svg>
                    <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="15" height="15"
                         class="receiver-seen">
                    <!-- ===================  -->
                    <div class="message-receiver">
                        <div class="single-message"><span>This is a single message</span></div>
                    </div>

                    <div class="text-right message-sender">
                        <div class="single-message"><span>This is a message</span></div>
                    </div>
                    <!-- ===================  -->

                    <!-- ===================  -->
                    <div class="message-receiver">
                        <div class="two-message"><span>This is a two message</span></div>
                        <div class="two-message"><span>This is a two message</span></div>
                    </div>

                    <div class="text-right message-sender">
                        <div class="any-message"><span>This is a message</span></div>
                        <div class="any-message"><span>This is a message</span></div>
                        <div class="any-message"><span>This is a message</span></div>
                    </div>
                    <!-- ===================  -->
                    <!-- ===================  -->
                    <div class="message-receiver">
                        <div class="any-message"><span>This is a single message</span></div>
                        <div class="any-message"><span>This is a single message</span></div>
                        <div class="any-message"><span>This is a single message</span></div>
                        <div class="any-message"><span>This is a single message</span></div>
                        <div class="any-message"><span>This is a single message</span></div>
                        <div class="any-message"><span>This is a single message</span></div>
                    </div>

                    <div class="text-right message-sender">
                        <div class="any-message"><span>This is a message</span></div>
                        <div class="any-message"><span>This is a message</span></div>
                        <div class="any-message"><span>This is a message</span></div>
                        <div class="any-message"><span>This is a message</span></div>
                    </div>
                    <!-- ===================  -->

                    <!-- ===================  -->
                    <div class="message-receiver">
                        <div class="single-message"><span>This is a single message This is a single message</span></div>
                    </div>

                    <div class="text-right message-sender">
                        <div class="two-message"><span>This is a messageThis is a single message</span></div>
                        <div class="two-message">
                            <span>This is a messageThis is a single messageThis is a single message</span></div>
                    </div>
                    <!-- ===================  -->


                </div>
            </div>
            <div class="chat-message">
                <form action="">
                    <div class="form-group pmd-textfield">
                        <input type="text" id="regular1" placeholder="Type a message..." class="form-control">
                        <div class="additional">
                            <div>
                                <label for="upload-image-selector">
                                    <input id="upload-image-selector" type="file" accept="image/*">
                                    <i class="material-icons pmd-md">add_a_photo</i>
                                </label>
                            </div>
                            <div>
                                <label for="upload-file-selector">
                                    <input id="upload-file-selector" type="file">
                                    <i class="material-icons pmd-md">add</i>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


<!-- Scripts Starts -->
<script src="assets/js/jquery-1.12.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/propeller.js"></script>

</body>
</html>