{%load static %}

<div class="container-fluid notifications classes">
        
            <div class="row">
                <!-- Page Content Title -->
                <div class="col-md-12">
                    <h1 class="page-content-title">Classes From Univhub</h1>	
                </div>		
                <!-- / Page Content Title -->

                <button onclick="add_registered_class()"
                        class="btn btn-submit pull-right" type="submit">Add registered class
                </button>

            </div>
        
            <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="clearfix">
                                <button type="button" class="btn btn-notice pull-right" title="Click to Create Class" data-target="#create-class-modal" data-toggle="modal">Create Class</button >
                            </div>
                            <div class="clearfix">
                                <label for="classes_type" class="pull-left">Class Type:</label>
                                <select name="classes_type" id="classes_type" class="pull-left form-control notifications_type">
                                    {% for classtype in all_classtypes %}
                                        <option value={{classtype.id}}>{{ classtype }}</option>
                                    {% endfor %}
                                </select>
                                <div class="pull-right">
                                    <div class="pmd-tabs activities-tab">
                                            <div class="pmd-tab-active-bar"></div>
                                            <ul role="tablist" class="nav nav-tabs">
                                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="today" href="#today-noti">Today</a></li>
                                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="week" href="#week-noti">Week</a></li>
                                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="month" href="#month-noti">Month</a></li>
                                            </ul>
                                    </div>	
                                </div>	
                            </div>
                            <div id="classeslist">
                            <div class="tab-content notifications-tab-content">
                                <ul role="tabpanel" id="today-noti" class="tab-pane active list-group pmd-list pmd-card-list">
                                    {% for class in offeredclass_today %}
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);">
                                            <div class="media-left">
                                                <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                                            </div>
                                            <div class="media-body">
                                                <h3 class="list-group-item-heading">{{ class.name }} ({{ class.starttime }} - {{ class.endtime }})</h3>
                                                <span class="list-group-item-text">Date: {{ class.startdate }} - {{ class.enddate }}</span>
                                                <span class="list-group-item-text">Tutor: {{ class.tutor.name }} ( {{ class.tutor.qualification }} )</span>
                                                <span class="list-group-item-text">Location: {{ class.location }}</span>
                                            </div>
                                            <div class="media-right">
                                                <div class="dropdown pickup-settings">
                                                <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                    <li><a class="dropdown-item  data-target="#create-class-modal" data-toggle="modal"" href="javascript:void(0);">Delete</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <ul role="tabpanel" id="week-noti" class="tab-pane list-group pmd-list pmd-card-list">
                                    {% for class in offeredclass_week %}
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);">
                                            <div class="media-left">
                                                <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                                            </div>
                                            <div class="media-body">
                                                <h3 class="list-group-item-heading">{{ class.name }} ({{ class.starttime }} - {{ class.endtime }})</h3>
                                                <span class="list-group-item-text">Date: {{ class.startdate }} - {{ class.enddate }}</span>
                                                <span class="list-group-item-text">Tutor: {{ class.tutor.name }} ( {{ class.tutor.qualification }} )</span>
                                                <span class="list-group-item-text">Location: {{ class.location }}</span>
                                            </div>
                                            <div class="media-right">
                                                <div class="dropdown pickup-settings">
                                                <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <ul role="tabpanel" id="month-noti" class="tab-pane list-group pmd-list pmd-card-list">
                                    {% for class in offeredclass_month %}
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);">
                                            <div class="media-left">
                                                <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                                            </div>
                                            <div class="media-body">
                                                <h3 class="list-group-item-heading">{{ class.name }} ({{ class.starttime }} - {{ class.endtime }})</h3>
                                                <span class="list-group-item-text">Date: {{ class.startdate }} - {{ class.enddate }}</span>
                                                <span class="list-group-item-text">Tutor: {{ class.tutor.name }} ( {{ class.tutor.qualification }} )</span>
                                                <span class="list-group-item-text">Location: {{ class.location }}</span>
                                            </div>
                                            <div class="media-right">
                                                <div class="dropdown pickup-settings">
                                                <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            </div>
                        </div>
                </div>   
            </div>
        </div>
        
        <!-- Create Class Modal -->
        <div tabindex="-1" class="modal fade" id="create-class-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pmd-modal-bordered">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h2 class="pmd-card-title-text text-center">Create Class</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="class_name" class="control-label">Class Name:</label><br>
                                <input type="text" id="class_name" class="form-control" required placeholder="Class Name">
                            </div>
                            <div class="form-group">
                                <label for="class_type" class="control-label">Class Type:</label>
                                <select name="class_type" id="class_type" class="form-control class_type">
                                    <option value-="GRE">GRE</option>
                                    <option value-="GMAT">GMAT</option>
                                    <option value-="SAT">SAT</option>
                                    <option value-="TOEFL">TOEFL</option>
                                    <option value-="IELTS">IELTS</option>
                                </select>    
                            </div>
                            <div class="form-group" style="position:relative">
                                <label class="control-label" for="class_start_date">Start Date:</label>
                                <input type="text" class="form-control" id="class_start_date-datepicker">
                            </div>
                            <div class="form-group" style="position:relative">
                                <label class="control-label" for="class_end_date">End Date:</label>
                                <input type="text" class="form-control" id="class_end_date-datepicker">
                            </div>
                            <div class="form-group">
                                <label for="discount_percentage" class="control-label">Discount Percentage:</label><br>
                                <input type="text" required class="form-control" id="discount_percentage" placeholder="Discount Percentage">
                            </div>
                            <div class="form-group">
                                <label for="tutor_name" class="control-label">Tutor Name:</label><br>
                                <input type="text" id="tutor_name" class="form-control" required placeholder="Tutor Name">
                            </div>
                            <div class="form-group">
                                <label for="scholarship_percentage" class="control-label">Scholarship Percentage:</label><br>
                                <input type="text" required class="form-control" id="scholarship_percentage" placeholder="Scholarship Percentage">
                            </div>
                            <div class="form-group clearfix">
                                <label for="registration_no" class="control-label">Profile Image:</label><br>
                                <div class="company-logo-name">
                                    my_image.png
                                <label for="upload-file-selector" class="pull-right">
                                <input id="upload-file-selector" type="file">
                                <span type="button" class="btn btn-upload">Upload</span>
                        </div>
                        </label>
                    </div>
                </form>
            </div>
            <div class="pmd-modal-action clearfix">
                <button data-dismiss="modal" class="btn btn-submit pull-right" type="button">Create</button>
            </div>
        </div>
    </div>
</div>