<!doctype html>
<html lang="">
<head>

    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Student Profile">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

    <title>{{ user.first_name }} {{ user.last_name }}</title>

    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- propeller css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/propeller.css' %}">
    <!-- Datepicker CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datepicker.min.css' %}">
    <!-- Select2 css -->
    <link href="{% static 'assets/css/select2.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'assets/css/select2-bootstrap.css' %}" type="text/css" rel="stylesheet"/>
    <!-- Univhub super admin theme css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/student-profile.css' %}">

</head>

<body>
<div class="pmd-sidebar-overlay"></div>
<div class="student-profile">
    <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat margin-r8 pmd-sidebar-toggle"
       style="display:inline-block;position:absolute;left:5px;top:5px;"><i class="material-icons">menu</i></a>
    <div class="profile-sidenav pmd-card pmd-z-depth pmd-sidebar sidebar-default pmd-sidebar-left pmd-sidebar-open pmd-sidebar-slide-push"
         role="navigation">
        <!-- header -->
        <div class="profile-sidenav-header text-center">
            <img class="user_profile_pic" src="assets/images/user.png" alt="90*90">
            <h4 class="user_name"> (UserName : {{user.username}})</h4>
            <h5 class="user_type">Apply Type: {{user.student.apply_type}}</h5>
            <div class="social-connect">
                <button type="button" class="btn btn-facebook">facebook</button>
                <button type="button" class="btn btn-message">Message</button>
            </div>
        </div>
        <!--/ header -->
        <ul class="profile-sidenav-nav nav">
            <li><a href="#" onclick="window.location.reload()" class="active">Overview</a></li>
            <li><a href="javascript:;" class="student_profile_uploaded_documents" data-student_id="{{user.id}}">Uploaded
                Documents</a></li>
            <li><a href="javascript:;" class="student_profile_applied_universities" data-student_id="{{user.id}}">Applied
                Universities</a></li>
            <li><a href="javascript:;" class="student_profile_notice" data-student_id="{{user.id}}">Notices</a></li>
            <li><a href="javascript:;" class="student_profile_classes" data-student_id="{{user.id}}">Classes</a></li>
        </ul>
    </div>
    <div class="profile-details pmd-content">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Overview Details -->
                    <div class="pmd-card pmd-z-depth overview-details" id="detailportion">
                        <div class="pmd-tabs overview-details-tab">
                            <div class="pmd-tab-active-bar"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#personal_information"
                                                                          aria-controls="personal_information"
                                                                          role="tab" data-toggle="tab">Personal
                                    Information</a></li>
                                <li role="presentation"><a href="#sponsors" aria-controls="sponsors" role="tab"
                                                           data-toggle="tab">Sponsors</a></li>
                            </ul>
                        </div>
                        <div class="pmd-card-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="personal_information">
                                    <a href="javascript:;"  data-student_id="{{user.id}}"
                                       class="btn pmd-btn-fab btn-edit-profile pmd-tooltip student_edit_profile"
                                       data-toggle="tooltip" data-placement="left" title="Click to edit"
                                       type="button"><i class="material-icons pmd-sm">edit</i></a>
                                    <section>
                                        <ul>
                                            <li>Name: <span>{{ user.first_name }} {{ user.last_name }}</span></li>
                                            <li>Gender: <span>{{user.student.gender}}</span></li>
                                            <li>DOB: <span class="bob-ad">{{user.student.dob_np}}</span>(B.S)&nbsp;&nbsp;&nbsp;
                                                <span class="bob-ad">{{user.student.dob_en}}</span>(A.D)&nbsp;&nbsp;
                                            </li>
                                        </ul>
                                    </section>
                                    <hr>
                                    <section>
                                        <h3 class="text-center">Contacts</h3>
                                        <ul>
                                            <li>Email: <span>{{user.email}}</span></li>
                                            <li>Phone No: <span>{{user.student.phone1}}</span> ,&nbsp;
                                                <span>{{user.student.phone2}}</span> ,&nbsp;
                                            <span>{{user.student.phone3}}</span> &nbsp; </li>
                                        </ul>
                                    </section>
                                    <hr>
                                    <section>
                                        <h3 class="text-center"> Temporary Address</h3>
                                        <ul>
                                            <li>District: <span>{{user.student.temp_address.district}}</span></li>
                                            <li>City: <span>{{user.student.temp_address.city}}</span></li>
                                            <li>Address Line 1: <span>{{user.student.temp_address.AddressLine1}}</span></li>
                                            <li>Address Line 2: <span>{{user.student.temp_address.AddressLine2}}</span></li>
                                            <li>Address Line 3: <span>{{user.student.temp_address.AddressLine3}}</span></li>
                                        </ul>
                                    </section>
                                    <hr>
                                    <section>
                                        <h3 class="text-center"> Permanent Address </h3>
                                        <ul>
                                            <li>District: <span>{{user.student.perm_address.district}}</span></li>
                                            <li>City: <span>{{user.student.perm_address.city}}</span></li>
                                            <li>Address Line 1: <span>{{user.student.perm_address.AddressLine1}}</span></li>
                                            <li>Address Line 2: <span>{{user.student.perm_address.AddressLine2}}</span></li>
                                            <li>Address Line 3: <span>{{user.student.perm_address.AddressLine3}}</span></li>
                                        </ul>
                                    </section>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="sponsors">
                                    <a href="edit-profile.html" class="btn pmd-btn-fab btn-edit-profile pmd-tooltip"
                                       data-toggle="tooltip" data-placement="left" title="Click to edit"
                                       type="button"><i class="material-icons pmd-sm">edit</i></a>
                                    <section>
                                        <ul>
                                            <li>Name: <span>{{spnsr.first_name}} {{spnsr.middle_name}} {{spnsr.last_name}}</span></li>
                                            <li>Relationship: <span>{{spnsr.relationship}}</span></li>
                                            <li>Phone: <span>{{spnsr.phone1}}</span>&nbsp; , &nbsp;
                                                        <span>{{spnsr.phone2}}</span>&nbsp; , &nbsp;
                                                        <span>{{spnsr.phone3}}</span>&nbsp; , &nbsp;
                                            </li>
                                        </ul>
                                    </section>
                                    <hr>
                                    <section class="row">
                                        <h3 class="text-center">Identification</h3>
                                        <div class="col-md-3 col-sm-4 col-xs-6 text-center">
                                            <img src="assets/images/verified-folder.png" alt="">
                                            File Url : {{spnsr.fileurl}} <br>
                                            <p class="text-muted">{{spnsr.identification}}</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Overview Details -->
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Scripts Starts -->
<script
        src="https://code.jquery.com/jquery-1.12.2.min.js"
        crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Propeller JS -->
<script src="{% static 'assets/js/propeller.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datepicker.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/select2.full.js' %}"></script>

<script src="/static/assets/js/student_scripts.js?version={{'123456789'|random}}" type="text/javascript"></script>


</body>
</html>
